* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
input {
  width: 100%;
  background: #ffffff;
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  padding: 0.5rem 0.8rem;
  outline: none;
  font-size: 1rem;
}
p {
  padding: 0.5rem 0 0.5rem 1rem;
  color: #252525;
  opacity: 0.5;
  width: 100%;
}

.Mui-checked + .MuiSwitch-track {
  background-color: #fff !important;
  border: 1.5px solid #e8e8e8 !important;
}
.MuiSwitch-track {
  background-color: #e8e8e8 !important;
  border: 1.5px solid #e8e8e8 !important;
}
.MuiOutlinedInput-input,
.MuiInputBase-input {
  padding: 0.4rem 0.8rem !important;
}
.MuiOutlinedInput-root,
.MuiInputBase-root {
  border-radius: 10px !important;
}
